fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.2
scipy==1.14.1
joblib==1.4.2
PyYAML==6.0.2
matplotlib==3.9.2
onnxruntime==1.19.2
skl2onnx==1.16.0
onnx==1.16.1
langchain==0.3.3
langchain-community==0.3.2
langchain-openai==0.2.2
langchain-text-splitters==0.3.0
langchain-chroma==0.1.4
chromadb==0.5.23
pypdf==5.0.1
